{% extends 'base.html' %}
{% load static %}
{% block content %}



<main class="register container">
    <h1 class="text-center mt-5 mb-5">
      Register
    </h1>
    
    <div class="row">
      <div class="col-md-4 offset-md-4">
       {% include 'messages.html' %}
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 ">
        <img src="{% static './assets/images/login-image.png' %}" class="img-fluid" alt="img">
      </div>
    <form class="col-md-5 offset-md-1">
      <div class="form-group">
      <a class="btn btn-accent mr-3 " href="{% url 'studentregister' %}">Student</a>
      </div>

      <div class="form-group">
      <a class="btn btn-accent " href="{% url 'teacherregister' %}">Teacher</a>       
      </div>
         
      <div class="form-group">
      <a class="btn btn-accent mr-3 " href="{% url 'adminregister' %}">Admin</a>
      </div>
      
      
    </form>

    </div>
  </main>

{% endblock %}