{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="contact-us">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Dashboard
      </h1>
    </div>
    
    <section class="container mt-5">
      <h2 class="text-center">Welcome to Dashboard</h2>
      <h4 class="text-center text-white-50"> 
        <font color="FF9C33"><p style="display:inline">Hi,<b> <font color="FF9C33" style="font-size:30px" >{{username}} </font> </b>Hope you having a good day </p>
      </font>
      </h4>

     
          
        
      

    </section>
  </main>
{% endblock %}

