<header class="header ">
    <div class="container">
      <div class="row ">
        <div class="col-md-6 header-info">
          <a href="mailto:info@ytubers.com" class="mr-3">9284sagarkanake@gmail.com</a>
          <span>Call at: +91 9898989898 </span>
        </div>
        {% if user.is_authenticated %}

        {% comment %} <a class="btn btn-accent mr-3 animate__animated animate__bounce" href="{% url 'dashboard' %}">Dashboard</a> {% endcomment %}
        <a class="btn btn-accent animate__animated animate__bounce" href="{% url 'logout' %}">Logout</a>

        {% else %}
       

        <a class="btn btn-accent mr-3 animate__animated animate__bounce" href="{% url 'login' %}">Signin</a>
        <a class="btn btn-accent animate__animated animate__bounce" href="{% url 'register' %}">SignUp</a>

        {% endif %}
      </div>
    </div>
</header>